<h1>Sontag</h1>
<div class="row">
	<div class="span10">
		<legend>1st Floor</legend>
		<%= image_tag("atwood1.jpg")%>
	</div>
	<div class="span2">
		<table class="table">
			<thead>
				<tr>
					<th>Room</th>
					<th>Size</th>
					<th>Groups</th>
				</tr>
			</thead>
			<tbody>
			<% @first_floor.each do |room| %>
				<tr>
					<td><%= link_to "#{room.code}#{room.alpha}", room %></td>
					<td><%= room.size.capitalize%></td>
					<td><%= room.group_count%></td>
				</tr>
			<%end%>
			</tbody>
		</table>
	</div>
	<div class="span10">
		<legend>2nd Floor</legend>
		<%= image_tag("atwood1.jpg")%>
	</div>
	<div class="span2">
		<table class="table">
			<thead>
				<tr>
					<th>Room</th>
					<th>Size</th>
					<th>Groups</th>
				</tr>
			</thead>
			<tbody>
			<% @second_floor.each do |room| %>
				<tr>
					<td><%= link_to "#{room.code}", room %></td>
					<td><%= room.size.capitalize%></td>
					<td><%= room.group_count%></td>
				</tr>
			<%end%>
			</tbody>
		</table>
	</div>
</div>



