<p id="notice"><%= notice %></p>

<% if @room.locked %>
	<legend>This room is locked!</legend>
<% else %>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Room Number:</b>
  <%= "#{@room.code}#{@room.alpha}" %>
</p>

<p>
  <b>Size:</b>
  <%= "#{@room.size}".capitalize! %>
</p>

<p>
	<b>Number of Groups:</b>
	<%= @room.group_count%>
</p>

<legend>Prospecting Groups</legend>
<table class="table table-striped">
	<thead>
			<tr>
			<th>Group ID</th>	
			<th>Total Priority</th>
			<% i = 1%>
			<% @capacity.times do %>
				<th><%="Person #{i}" %></th>
				<% i += 1%>
			<%end%>	
			</tr>
	</thead>
	<tbody>
		<% j=1%>
		<% @user_array.each do |grp| %>
		<td>
			<%= grp[:group_id] %>
		</td>

		<td>
			<%= grp[:total_priority] %>
		</td>

			<% grp[:group].each do |item|%>
			<td>
				<table class="table table-bordered">
					<tr><td><%= item.name%></td></tr>
					<tr><td><font color="red"><%= "#{item.cohort}" + " #{item.draw_number}".gsub(/.0/, " ")%></font></td></tr>
				</table>
			</td>
			<%end%>
		</tr>

		<%j+=1%>
		</tr>
		<%end%>
			<% i = 0%>
			<tr>
				<td>____</td>
			<% @capacity.times do %>
				<td>____</td>
				<% i += 1%>
			<%end%>
			</tr>
	</tbody>
</table>

<% if @user.nil? %>
	<legend>Comments</legend>
	<% @room.comments.each do |comment|%>
		<p><%="#{comment.content} -- #{comment.name}"%></p>
	<%end%>
<%end%>

<% if !@user.nil? %>
	<% if @user_rooms%>
		<p>
			<%= button_to "Leave this room", request_room_path(@request_room), :method => :delete, class: "btn btn-inverse"%>
		</p>
	<%else%>
		<%= form_tag(request_rooms_path(room_id: @room)) do %>
	  		<legend>Join Room!</legend>s
	  		<%= label_tag(:q, "Select Group ID") %>
	  		<%= select_tag(:group, options_for_select(@group_array)) %>
	  		<%= label_tag(:q, "Select your priority level") %>
	  		<%= select_tag(:priority, options_for_select(@user_priority)) %>
	  		<%= button_tag("Join") %>
			<% end %>
		<%end%>

		<legend>Comments</legend>
			<%if @room.comments.count == 0 %>
			 <p>No comments...</p>
			<%end%>
			<% @room.comments.each do |comment|%>
			<p><%="#{comment.content} -- #{comment.name}"%></p>
		<%end%>
		
		<%= form_tag(comments_path(room_id: @room, name: @user.name), :method=>:create) do %>
			<legend>Comment!</legend>
		  <%= text_area_tag(:comment) %>
		  <%= button_tag("Comment") %>
		  	<p style="color:red;">Please be polite and courteous to your fellow mudders</p>
	 	<%end%>
<% else%>
	<p>
		<%= link_to "Please sign in to join this room", '/login'%>
	</p>
<%end%>
<%end%>

