<p id="notice"><%= notice %></p>

<% if @room.locked %>
	<legend>This room is locked!</legend>
<% else %>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Room Number:</b>
  <%= "#{@room.code}#{@room.alpha}" %>
</p>

<p>
  <b>Size:</b>
  <%= "#{@room.size}".capitalize! %>
</p>

<p>
	<b>Number of Groups:</b>
	<%= @room.group_count%>
</p>

<legend>Prospecting Groups</legend>
<table class="table table-striped">
	<thead>
			<tr>
			<th>Group ID</th>	
			<th>Total Priority</th>
			<% i = 1%>
			<% @capacity.times do %>
				<th><%="Person #{i}" %></th>
				<% i += 1%>
			<%end%>	
			</tr>
	</thead>
	<tbody>

		<%@keys_of_group_to_users.each do |key|%>
		<td>
			<%= key %>
		</td>
		<td>
			<%= @group_to_priorities[key] %>
		</td>

		<%@group_to_users[key].each do |user| %>
			<td>
				<table class="table table-bordered">
					<tr><td><%= user.name%></td></tr>
					<tr><td><font color="red"><%= "#{user.cohort}" + " #{user.draw_number}".gsub(/.0/, " ")%></font></td></tr>
				</table>
			</td>
		<%end%>
		</tr>
		<%end%>

	</tbody>
</table>

<legend>Comments</legend>
	<% @room.comments.each do |comment|%>
		<p><%="#{comment.content} -- #{comment.name}"%></p>
	<%end%>



<% if @user.nil? %>
	<p>
		<%= link_to "Please sign in to join this room", '/login'%>
	</p>

<% else %>
	<% if @user_rooms%>
		<p>
			<%= button_to "Leave this room", request_room_path(@request_room), :method => :delete, class: "btn btn-inverse"%>
		</p>
	<%else%>
		<%= form_tag(request_rooms_path(room_id: @room)) do %>
	  		<legend>Join this Room!</legend>
	  		<%= label_tag(:q, "Select Group ID") %>
	  		<%= select_tag(:group, options_for_select(@potential_group_id)) %>
	  		<%= label_tag(:q, "Select your priority level") %>
	  		<%= select_tag(:priority, options_for_select(@user_priority)) %>
	  		<%= button_tag("Join") %>
			<% end %>
		<%end%>

		<legend>Comments</legend>
			<%if @room.comments.count == 0 %>
			 <p>No comments...</p>
			<%end%>
			<% @room.comments.each do |comment|%>
			<p><%="#{comment.content} -- #{comment.name}"%></p>
		<%end%>
		
		<%= form_tag(comments_path(room_id: @room, name: @user.name), :method=>:create) do %>
			<legend>Comment!</legend>
		  <%= text_area_tag(:comment) %>
		  <%= button_tag("Comment") %>
		  	<p style="color:red;">Please be polite and courteous to your fellow mudders</p>
	 	<%end%>
	 <%end%>
<%end%>

