<!DOCTYPE html>
<html>
<head>
  <title>Roomdraw</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<div class="container">
	<div class="navbar">
	 <div class="navbar navbar-inverse">
	  <div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	    <a class="brand" href="/admin">Mudd Room Draw</a>	
	    <ul class="nav">
	      <li class="active"><a href="/dorm/north">North</a></li>
	      <li><a href="/dorm/south">South</a></li>
		  <li><a href="/dorm/east">East</a></li>
		  <li><a href="/dorm/west">West</a></li>
		  <li><a href="/dorm/atwood">Atwood</a></li>
		  <li><a href="/dorm/case">Case</a></li>
		  <li><a href="/dorm/linde">Linde</a></li>
		  <li><a href="/dorm/sontag">Sontag</a></li>
	    </ul>
	  </div>
	</div>
	</div>
<%= yield %>

<% if session[:user_id]%>
	<%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-danger"%>
<%end%>
</div>

</body>
</html>


