<!DOCTYPE html>
<html>
<head>
  <title>Roomdraw</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<div class="container">
	<div class="navbar">
	 <div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <a class="brand" href="/admin">Mudd Room Draw 2013</a>	
	    <ul class="nav">
	      <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'north') %>">
			<a href="/dorm/north">North</a>
		  </li>
		
		
	      <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'south') %>">
			<a href="/dorm/south">South</a>
		  </li>
		
		
		  <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'east') %>">
			<a href="/dorm/east">East</a>
		  </li>
		
		  <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'west') %>">
			<a href="/dorm/west">West</a>
		  </li>
		
		  <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'atwood') %>">
			<a href="/dorm/atwood">Atwood</a>
		  </li>
		
		
		  <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'case') %>">
			<a href="/dorm/case">Case</a>
		  </li>
		
		  <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'linde') %>">
			<a href="/dorm/linde">Linde</a>
		  </li>
		
		  <li class="<%= 'active' if current_page?(:controller => 'dorm', :action => 'sontag') %>">
			<a href="/dorm/sontag">Sontag</a>
		  </li>
	    </ul>
	  </div>
	</div>
	</div>
<%= yield %>

<% if session[:user_id]%>
	<%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-danger"%>
<%end%>
</div>

</body>
</html>


